<header class="d-flex flex-wrap justify-content-center py-3 mb-4 fixed-top header-blur">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4" style="color: rgb(255, 213, 0);">
      𝓙𝓪𝓲𝓷𝓪𝓶 𝓥𝓵𝓸𝓰𝓼
    </span>
      </a>

  <ul class="nav nav-pills mx-5">
    <li class="nav-item"><a href="/" class="nav-link text-light" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="/add-blog" class="nav-link text-light">Add-Blog</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-light">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-light">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-light">About</a></li>
  </ul>
</header>
